extends layout

block content
  .row
    .col-md-12
      form(action="video")
        .form-group
          label(for="remix") Remix URL
          input(type="text" class="form-control" id="remix" name="remix" placeholder="URL" value="http://interactive.aljazeera.com/aje/PalestineRemix/view_remix.php#!/1:118001,5233/1:200701,3200/22:82012,8613/24:67207,11187")
        button(type="submit" class="btn btn-primary") Process
