doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//code.jquery.com/jquery-1.12.0.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
  body(class="#{lang}")
  .container
    .row
      .col-md-12
        a.squares(href="/")
          .square.red
          .square.black
          .square.white
          .square.green

    block content
