doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  .container
    .row
      .col-md-12
        a.squares(href="/")
          .square.red
          .square.black
          .square.white
          .square.green

    block content
